<div fxLayout="column">
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'TOTAL_CUSTOMERS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ customerAmount }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'VIP' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ vipCustomers }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'NORMAL' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ normalCustomers }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'OTHERS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ otherCustomers }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'BASIC' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ basicCustomers }}</p>
  </div>
</div>
