
<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="employee-detail" fxFill>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40">
      <div class="image">
        <img [src]="getImageSrc(data.EMPLOYEEPHOTO)">
      </div>
      <span class="employee-name"><b>{{ data.EMPLOYEENAME }} {{ data.EMPLOYEESURNAME }}</b></span>
      <mat-divider></mat-divider>
      <span class="employee-type"><i>{{ data.EMPLOYEETYPENAME }}</i></span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="column" fxFlex="60" class="employee-data">
      <span *ngIf="data.EMPLOYEEEMAIL">
        <mat-icon>email</mat-icon>{{ data.EMPLOYEEEMAIL }}
      </span>
      <span *ngIf="data.EMPLOYEEPHONE">
        <mat-icon>smartphone</mat-icon>{{ data.EMPLOYEEPHONE }}
      </span>
      <span *ngIf="data.EMPLOYEEADDRESS">
        <mat-icon>home</mat-icon>{{ data.EMPLOYEEADDRESS }}
      </span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <span class="employee-office">{{ data.NAME }}</span>
  </div>

</div>
