<o-form fxFlex service-type="starsWars" entity="films" keys="uuid" show-header-navigation="no">
  <o-row>
      <o-column fxFlex="70" class="input-padding">
          <o-text-input attr="title"></o-text-input>
          <o-text-input attr="episode_id" sql-type="INTEGER"></o-text-input>
          <o-text-input attr="director"></o-text-input>
          <o-text-input attr="producer"></o-text-input>
          <o-text-input attr="release_date"></o-text-input>
      </o-column>
      <o-textarea-input fxFlex="30" attr="opening_crawl" rows="35"></o-textarea-input>
  </o-row>
</o-form>
